

{% extends 'bace.html' %}
{% load static %}
{% block content %}

{% if messages %}

    <div class="message-wrapper">
        {% for message in messages %}
            <div class="mini-success-box">
                <span class="icon">✔️</span>
                <div class="text-content">
                    <p class="main-msg">Order Placed!</p>
                    <p class="sub-msg">{{ message }}</p>
                </div>
                <button type="button" class="close-msg" onclick="this.parentElement.style.display='none';">&times;</button>
            </div>
        {% endfor %}
    </div>
        {% endif %}
<div class="ad-banner">
    <img src="{% static 'img/img1234.jpeg' %}" alt="">
</div>

    <div class="product-grid">
       {% for product in products %}

    <div class="product-card">
    <a href="{% url 'product_detail' product.id %}" style="text-decoration: none; color: inherit;">
        <h3>{{ product.title }}</h3>
        {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.title }}">
{% elif product.image_url %}
    <img src="{{ product.image_url }}" alt="{{ product.title }}">
{% endif %}
        {% if product.discount_price %}
    <h4>₹{{ product.discount_price }}</h4>
    <del>₹{{ product.price }}</del>
{% else %}
    <h4>₹{{ product.price }}</h4>
{% endif %}
    </a>
    <a href="{% url 'add_to_cart' product.id %}">
        <button class="add-to-cart-btn">Add to Cart</button>
    </a>
</div>


{% endfor %}
    </div>
    {% endblock content %}
    
</body>
</html>